apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: utfsm
resources:
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml
  - pdb.yaml
  - postgres.yaml
  - redis.yaml
  - migrate-job.yaml
